@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Rampart+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: white;
}
body {
  font-family: "Poppins", sans-serif;
  background: rgb(227, 212, 241);
  color: black;
  font-size: 20px;
  line-height: 1.5;
  max-width: 1400px;
  margin: 0 auto;
}

.menu {
  width: 2em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(249, 183, 194);
  max-width: 100%;
  max-height: 100%;
  padding: 0 10px;
  ul {
    list-style-type: none;
    display: flex;
  }
  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  li {
    padding: 5px;
    &:hover {
      background: rgb(246, 203, 203);
    }
  }
  .logo {
    font-family: "Rampart One", cursive;
    font-size: xx-large;
  }
}
.hero {
  display: flex;
  justify-content: space-between;
  background: rgb(240, 200, 206);
  width: 100%;

  .pie {
    flex: 2;
    object-fit: contain;
    img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
  .hero-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    margin: 0 15px;
    h1 {
      font-size: 40px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 10px;
      margin-right: 10px;
      text-align: center;
      span {
        color: rgb(212, 73, 73);
      }
    }

    .down-arrow {
      stroke: white;
      bottom: 2em;
      width: 1em;
      animation: moveArrow 1s alternate-reverse infinite;
      margin-top: 2em;
      margin-bottom: 0.5em;
      path {
        fill: white;
      }
    }
  }
}
@keyframes moveArrow {
  from {
    transform: translateY(-30px);
  }

  to {
    transform: translateY(0px);
  }
}
.hero img {
  animation: introLoad 2s forwards;

  @keyframes introLoad {
    from {
      clip-path: polygon(49% 50%, 49% 50%, 49% 50%, 49% 50%);
    }
    to {
      clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
  }
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
@media only screen and (min-width: 920px) {
  .menu {
    display: none;
  }
}
@media only screen and (max-width: 920px) {
  a {
    display: none;
  }
}
.open-nav {
  transform: translateX(0%);
}

aside {
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  height: 100vh;
  width: 250px;
  z-index: 999;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;

  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin-top: 8em;

    a {
      color: black;
      padding: 0.75em 2em;
      display: block;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        background: rgb(235, 231, 231);
      }
    }
  }
  .close {
    float: right;
    margin: 2em;
    width: 2.5em;
  }
}

.s1 {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100%;
  height: 100%;
  margin-top: 15px;

  img {
    align-self: center;
    margin-bottom: 15px;
    object-fit: contain;
    max-width: 100%;
    height: auto;
    flex: 3;
  }

  div {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    h2 {
      font-size: 30px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 10px;
      margin-right: 10px;
      text-align: center;
      color: rgb(212, 73, 73);
    }
    p {
      text-align: center;
    }
  }
}
hr {
  border: 3px solid rgb(235, 142, 214);
}
.s2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-top: 15px;
  .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 0px 10px;
    h2 {
      color: rgb(212, 73, 73);
    }
    p {
      a {
        color: rgb(150, 55, 150);
        font-weight: bolder;
        display: inline-block;
        text-decoration: none;
        &:hover {
          background: rgb(229, 199, 199);
          padding: 0 5px;
        }
      }
    }
    .sweet {
      img {
        object-fit: contain;
        width: auto;
        max-height: 50vh;
        align-self: center;
        margin: 20px 0;
        animation: introLoads 2s forwards;
      }
    }
  }
}
@keyframes introLoads {
  from {
    clip-path: ellipse(50% 50% at 50% 50%);
  }
  to {
    clip-path: ellipse(50% 50% at 50% 50%);
  }
}

.s3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 15px 0 0;
  padding: 0 15px 15px;

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    i {
      margin: 0 5px;
    }
    h3 {
      margin: 5px 5px;
    }
  }
}

@media (max-width: 770px) {
  section {
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    text-align: center;
  }
  .s1 {
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    text-align: center;
  }
}
